# Virtual environment
venv/
env/
ENV/
.env

# Python cache files
__pycache__/
*.py[cod]
*$py.class
.pytest_cache/

# Uploaded files
uploads/

# Logs
*.log

# IDE files
.idea/
.vscode/
*.swp
*.swo

# OS specific files
.DS_Store
Thumbs.db 